@charset "UTF-8";
@font-face {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-style: normal;
  src: local("Roboto-Light"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto-Medium"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("RobotoCondensed-Regular"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("RobotoCondensed-Bold"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "Ubuntu-Regular";
  font-weight: 700;
  font-style: normal;
  src: local("Ubuntu-Regular"), url("../fonts/Ubuntu-Regular.ttf") format("truetype"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.woff2") format("woff2"); }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden, .search-panel__title, .for-clients h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@keyframes slide-fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.bg-slider {
  width: 100%;
  height: 100%; }

.bg-slider__slide {
  position: absolute;
  width: 100%;
  height: 100%; }
  .bg-slider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

.bg-slider__slide_fade {
  animation: slide-fade 3s normal; }

.main-nav {
  position: relative; }

@keyframes nav-list-open {
  0% {
    transform: translateX(400px); }
  100% {
    transform: translateX(0); } }

@keyframes nav-list-close {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(400px); } }

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__list_mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 350px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.781);
  z-index: 3; }

.main-nav__list_mobile-open {
  animation: nav-list-open 0.8s normal; }

.main-nav__list_mobile-close {
  animation: nav-list-close 0.4s normal; }

@keyframes nav-item-hover {
  0% {
    border: none;
    opacity: 0; }
  25% {
    border-left: 1px solid #ffffff;
    opacity: 0.25; }
  50% {
    border-top: 1px solid #ffffff;
    opacity: 0.5; }
  75% {
    border-right: 1px solid #ffffff;
    opacity: 0.75; }
  100% {
    border-bottom: 1px solid #ffffff;
    opacity: 1; } }

.main-nav__item {
  position: relative;
  margin-right: 35px; }
  .main-nav__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 0;
    background-color: #1bace8;
    opacity: 0;
    transition: all 0.3s; }
  .main-nav__item:hover::before {
    width: 100%;
    animation: none;
    opacity: 1; }
  .main-nav__item_active {
    color: #1bace8; }
  .main-nav__item_active::before {
    border: 1px solid; }
  .main-nav__item_active:hover::before {
    animation: none; }
  .main-nav__item_active > .main-nav__link {
    color: #1bace8; }
  .main-nav__item_sub-menu-arrow {
    display: flex;
    align-items: center; }
    .main-nav__item_sub-menu-arrow::after {
      content: "";
      width: 15px;
      height: 15px;
      background-image: url("../img/icons/svg/down-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .main-nav__item_sub-menu-arrow:hover::after {
      background-image: url("../img/icons/svg/up-arrow.svg"); }

.main-nav__item-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }

.main-nav__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent; }

.main-nav__button_dropdown {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/svg/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.main-nav__button_dropdown-open {
  background-image: url("../img/icons/svg/up-arrow.svg"); }

.main-nav__link {
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "RobotoCondensed-Regular", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 80px;
  text-transform: uppercase;
  color: #000000; }
  .main-nav__link:hover {
    color: #1bace8; }
  .main-nav__link_active {
    color: #1bace8; }

.main-nav__list_sub-menu {
  display: none;
  position: absolute;
  width: 250px;
  margin: 0;
  padding: 15px 10px;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.781);
  list-style: none;
  z-index: 2; }

.main-nav__list_no-mobile .main-nav__item:hover .main-nav__list_sub-menu {
  display: flex;
  left: -40px;
  top: 100%;
  width: 100vw;
  max-width: 860px;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  box-shadow: 0 8px 8px 0px rgba(0, 0, 0, 0.4); }

@keyframes sub-menu-open {
  from {
    opacity: 0;
    transform: translateY(-10px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.main-nav__list_sub-menu-open {
  display: flex;
  position: static;
  width: 100%;
  animation: sub-menu-open 0.5s normal; }

.main-nav__item_sub-menu {
  width: calc(100% / 3);
  margin: 0;
  padding: 0; }
  .main-nav__item_sub-menu:hover {
    background-color: #1bace8; }
    .main-nav__item_sub-menu:hover a {
      color: #ffffff; }
  .main-nav__item_sub-menu::before {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    height: 2px;
    width: 0;
    border: none;
    background-color: #1bace8;
    opacity: 0;
    transition: all 0.3s; }
  .main-nav__item_sub-menu:hover::before {
    width: 100%;
    animation: none;
    opacity: 1; }
  .main-nav__item_sub-menu:last-child {
    margin-bottom: 0; }

.main-nav__link_sub-menu {
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "RobotoCondensed-Regular", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 50px;
  font-size: 14px; }

.main-nav__toggle {
  position: relative;
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 35px;
  height: 35px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer; }

@keyframes sandvitch-top-on {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(0); }
  100% {
    transform: rotate(45deg); } }

@keyframes sandvitch-top-off {
  0% {
    transform: rotate(-45deg); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

@keyframes sandvitch-bottom-on {
  0% {
    transform: translateY(10px); }
  50% {
    transform: translateY(0); }
  100% {
    transform: rotate(-45deg); } }

@keyframes sandvitch-bottom-off {
  0% {
    transform: rotate(45deg); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(10px); } }

.main-nav__sandvitch {
  height: 4px;
  width: 100%;
  background-color: #1bace8; }
  .main-nav__sandvitch::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #1bace8;
    transform: translateY(-10px); }
  .main-nav__sandvitch::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #1bace8;
    transform: translateY(10px); }

.main-nav__sandvitch_on {
  background-color: transparent; }
  .main-nav__sandvitch_on::before {
    transform: translateY(0) rotate(45deg);
    animation: sandvitch-top-on 0.8s normal; }
  .main-nav__sandvitch_on::after {
    transform: translateY(0) rotate(-45deg);
    animation: sandvitch-bottom-on 0.8s normal; }

.main-nav__sandvitch_off::before {
  animation: sandvitch-top-off 0.5s normal; }

.main-nav__sandvitch_off::after {
  animation: sandvitch-bottom-off 0.5s normal; }

@media (max-width: 767px) {
  .main-nav__list {
    display: none; }
  .main-nav__list_mobile {
    display: block;
    width: 350px;
    padding: 20px;
    background-color: #f3f3f3;
    box-shadow: -4px 10px 9px 4px rgba(0, 0, 0, 0.4);
    overflow: scroll; }
  .main-nav__toggle {
    display: flex;
    margin-right: 10px; }
  .main-nav__item::before {
    display: none; }
  .main-nav__item_sub-menu {
    width: 100%; }
  .main-nav__item_sub-menu::before {
    display: none; }
  .main-nav__item_sub-menu-arrow {
    display: block; }
    .main-nav__item_sub-menu-arrow::after {
      display: none; }
  .main-nav__button_dropdown {
    display: block; }
  .main-nav__list_sub-menu-open {
    display: block;
    background-color: transparent;
    width: 100%;
    padding: 0;
    padding-bottom: 5px;
    position: static; }
  .main-nav__link {
    justify-content: flex-start;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 24px;
    line-height: 50px; }
    .main-nav__link_sub-menu {
      font-size: 18px; } }

@media (max-width: 575px) {
  .main-nav__list_mobile {
    width: 100vw; } }

.page {
  width: 100%; }

.page__container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px; }

.header {
  position: relative;
  width: 100%;
  min-height: 635px;
  padding-bottom: 65px;
  background-color: #788d96; }

.header__wrap {
  width: 100%; }

.header__top {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 115px;
  padding: 0 40px; }

.header__logo {
  margin-right: 30px; }
  .header__logo-img {
    width: 109px;
    height: 47px; }

.header__logo-description {
  margin-right: 40px; }
  .header__logo-description h2 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-family: "RobotoCondensed-Bold", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff; }
  .header__logo-description p {
    margin: 0;
    padding: 0;
    font-family: "Roboto-Regular", "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff; }

.header__subaru-logo {
  width: 89px;
  height: 49px; }

.header__contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  text-align: right; }
  .header__contacts a {
    margin-bottom: 10px;
    font-family: "RobotoCondensed-Bold", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    font-style: normal;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff; }
    .header__contacts a:hover {
      color: #1bace8;
      cursor: pointer; }
    .header__contacts a:active {
      color: #105a7a; }

.header__callback {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px dashed #ffffff;
  font-family: "Roboto-Regular", "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer; }
  .header__callback:hover {
    border-color: transparent;
    color: #1bace8; }
  .header__callback:active {
    color: #105a7a; }

.main-nav {
  position: relative;
  max-width: 1280px;
  background-color: rgba(255, 255, 255, 0.781); }

.header__promo {
  position: relative;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 55px; }
  .header__promo h2 {
    display: inline-block;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    font-family: "RobotoCondensed-Regular", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: 28px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #ffffff; }
    .header__promo h2:last-child {
      margin-bottom: 0; }
  .header__promo p {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    font-family: "RobotoCondensed-Regular", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff; }
  .header__promo .header__promo-wrapper {
    max-width: 400px; }

.header__button-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none; }
  .header__button-list .header__button-item {
    margin-bottom: 10px; }
    .header__button-list .header__button-item:last-child {
      margin-bottom: 0; }
  .header__button-list .header__button {
    margin: 0;
    margin-right: 20px;
    padding: 0;
    padding-left: 45px;
    padding-right: 15px;
    border: none;
    font-family: "RobotoCondensed-Regular", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 55px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #ffffff;
    background-color: #1bace8;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: auto 25px;
    cursor: pointer; }
    .header__button-list .header__button:hover {
      text-decoration: none; }
    .header__button-list .header__button_repair {
      background-image: url("../img/icons/repair_icon.png"); }
    .header__button-list .header__button_service-calc {
      background-image: url("../img/icons/service_calc_icon.png"); }
    .header__button-list .header__button_evacuator {
      padding-left: 60px;
      background-image: url("../img/icons/evaсuator_icon.png"); }
    .header__button-list .header__button_red {
      background-color: #a7402a; }

.search-panel {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1bace8; }

.search-panel__container {
  width: 100%; }

.search-panel__form {
  display: flex;
  align-items: center; }

.search-panel__input {
  width: 100%;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  padding-left: 50px;
  border: none;
  font-family: "RobotoCondensed-Regular", "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 45px;
  background-image: url("../img/icons/search_input_icon.png");
  background-size: 29px 32px;
  background-position: 7px center;
  background-repeat: no-repeat; }

.search-panel__button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/search_icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.services {
  padding-top: 40px; }
  .services h2 {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-family: "RobotoCondensed-Bold", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000000; }

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.services__item {
  width: calc((100% - 60px) / 4);
  min-height: 160px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: center 15px; }
  .services__item:last-child {
    margin-right: 0; }
  .services__item_engine {
    background-image: url("../img/icons/engine_repair_icon.png");
    background-size: 46px 40px; }
  .services__item_chassis {
    background-image: url("../img/icons/chassis_repair_icon.png");
    background-size: 40px; }
  .services__item_electronic {
    background-image: url("../img/icons/electronic_repair_icon.png");
    background-size: 42px 40px; }
  .services__item_other {
    background-image: url("../img/icons/other_repair_icon.png");
    background-size: 34px 40px; }

.services__link {
  display: block;
  min-height: 160px;
  padding-top: 70px;
  padding-bottom: 20px;
  text-align: center; }
  .services__link span {
    display: block;
    min-height: 40px;
    font-family: "RobotoCondensed-Bold", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #1bace8; }
  .services__link:hover span {
    text-decoration: underline;
    text-decoration-style: dotted; }
  .services__link p {
    margin: 0;
    padding: 0;
    font-family: "Roboto-Regular", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    color: #000000; }

.about-promo {
  display: flex;
  justify-content: space-between;
  padding-top: 60px; }

.about-promo__promo {
  width: 75%;
  text-align: left; }
  .about-promo__promo h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: "RobotoCondensed-Bold", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000000; }
  .about-promo__promo p {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-family: "Roboto-Regular", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000; }
    .about-promo__promo p span {
      display: inline-block;
      font-family: "Roboto-Bold", "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      text-align: left;
      color: #ff4821; }
  .about-promo__promo ul {
    margin: 0;
    margin-left: 145px;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    text-align: left; }
  .about-promo__promo li {
    position: relative;
    margin: 0;
    padding: 0; }
    .about-promo__promo li::before {
      position: absolute;
      left: -20px;
      top: 4px;
      content: "";
      width: 7px;
      height: 7px;
      background-color: #ff4821; }
    .about-promo__promo li p {
      margin: 0;
      padding: 0; }

.about-promo__more-button {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "RobotoCondensed-Regular", "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #1bace8;
  background-color: transparent;
  cursor: pointer; }
  .about-promo__more-button:hover {
    text-decoration: none; }
  .about-promo__more-button::after {
    content: "";
    position: absolute;
    right: -15px;
    width: 10px;
    height: 6px;
    background-image: url("../img/icons/svg/down-arrow_blue.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }

.guarantee-banner img {
  width: 285px; }

.for-clients {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }

.for-clients__article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 550px; }
  .for-clients__article h3 {
    min-height: 50px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-family: "RobotoCondensed-Bold", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #000000; }
  .for-clients__article p {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-family: "Roboto-Regular", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000; }
    .for-clients__article p:last-child {
      margin-bottom: 65px; }
  .for-clients__article a {
    display: block;
    margin: 0;
    margin-top: auto;
    padding: 0;
    padding-left: 75px;
    font-family: "Roboto-Regular", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 55px;
    text-decoration: underline;
    color: #1bace8;
    background-color: #f9f9f9;
    background-image: url("../img/icons/doc_icon.png");
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 35px 34px; }
    .for-clients__article a:hover {
      text-decoration: none; }

.main__banner {
  margin-top: 90px;
  margin-bottom: 100px; }

.promo-banner {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-width: 665px;
  background-color: #0296c3;
  background-image: url("../img/banner/promo_banner_background.png"), linear-gradient(270deg, #0296c3 0%, #295787 60%);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  box-shadow: 0 -2px 6px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .promo-banner::before {
    content: "";
    position: absolute;
    left: -58px;
    width: 450px;
    height: 100%;
    border-right: 13px solid #092847;
    transform: skewX(15deg);
    background-color: #ffffff; }

.promo-banner__promo-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 335px;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 2; }

.promo-banner__logo {
  width: 205px;
  margin-bottom: 30px; }

.promo-banner__promo-text {
  width: 260px;
  margin-bottom: 40px;
  text-align: center; }
  .promo-banner__promo-text p {
    margin: 0;
    padding: 0;
    font-family: "RobotoCondensed-Regular", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: lowercase; }
    .promo-banner__promo-text p:first-child {
      font-size: 30px;
      text-transform: uppercase;
      color: #ff4617; }

.promo-banner__promo-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 625px;
  min-width: 450px;
  margin-left: 100px;
  z-index: 2; }
  .promo-banner__promo-description h2 {
    max-width: 370px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-family: "RobotoCondensed-Regular", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff; }
  .promo-banner__promo-description p {
    max-width: 520px;
    margin: 0;
    padding: 0;
    font-family: "RobotoCondensed-Regular", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff; }
